.toggle-graph {
    position: absolute;
    top: 45vh;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.graph-table-field {
    position: relative;
}
